body {
    background-color: rgb(247, 240, 240);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    font-family: Arial, sans-serif;
}

h1{
    margin: 20;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(255, 230, 0);
    padding: 20px;
    
    

}
img{
height: 600px;
width: 1000px;


}

